body {
    margin: 0;
    position: relative;
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        .img-wrapper {
                display: flex;
                align-items: center;
                margin-right: 15%;
                z-index: 2;
        }
        .navigation-details-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 15px;

            .contact-details {
                display: flex;
                font-size: 14px;
                line-height: 21px;
                color: #f93542;
                font-family: "Open Sans";
                font-weight: 400;
                .phone-number {
                    display: flex;
                    justify-content: center;
                    padding-right: 30px;
                    &::before {
                        content: url('/img/mobile-phone-icon.png');
                        padding-right: 10px;
                    }
                }
                .e-mail {
                    display: flex;
                    justify-content: center;
                    &::before {
                        content: url('/img/mail-icon.png');
                        padding-right: 10px;
                    }
                }
            }
            .nav-list {
                display: flex;
                list-style-type: none;
                margin: 0;
                text-transform: uppercase;
                li {
                    padding: 10px 0px 15px 10px;
                    margin-left: 45px;
                    line-height: 21px;
                    font-family: "Open Sans";
                    text-decoration: none;
                    font-weight: 700;
                    a {
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: 700;
                        &:hover {
                            color: #f93542;
                            cursor: pointer;
                        }
                    }
                   &.sub-menu-trigger {
                       position: relative;
                       display: flex;
                       justify-content: center;
                        &:hover {
                            a {
                                color: #f93542;
                            }
                            .sub-menu {
                                display: block;
                            }
                        }
                        .sub-menu {
                            position: absolute;
                            top: 40px;
                            background-color: #fff;
                            list-style-type: none;
                            border-top: 4px solid #f93542;
                            padding: 15px 0px 0px 20px;
                            text-transform: none;
                            display: none;
                            z-index: 2;
                            li {
                                margin: 0px;
                                padding: 0px 55px 20px 0px;
                                a {
                                    color: #000000;
                                }
                                &:hover {
                                    cursor: pointer;
                                    a {
                                        color: #f93542;     
                                    }
                                }
                            }

                        }    
                    }
                    
                }
            }
        }
        .button-menu-open {
            cursor: pointer;
            width: 25px;
            border: 0;
            border-top: 4px solid white;
            background: transparent;
            position: relative;
            border-bottom: 4px solid white;
            transition: 0.2s;
            outline: none;
            display: none;
            padding: 10px;
            &:after {
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                width: 100%;
                border-top: 4px solid #ffffff;
                transform: translateY(10px);
            }
        }
        .button-menu-close {
            display: none;
        }
    }  
    .main {
        .header {
            background-image: url('/img/bg-img.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: calc(100vh - 88px);
        } 
    }
}
 @media screen and (max-width: 1199px){
        body {
            .navbar {
                height: 88px;
                .img-wrapper {
                    z-index: 2;
                }
                .navigation-details-wrapper {
                    position: absolute;
                    right:0;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column-reverse;
                    background-color: #000000;
                    align-items: stretch;
                    top: 0;
                    height: 100%;
                    padding-top: 0;
                    width: 0;
                    transition: .5s;
                    overflow-x: hidden;
                    z-index: 1;
                    .nav-list {
                        display: flex;
                        flex-direction: column;
                        padding-left: 0;
                        margin: 100px 0 0 0;
                        width: 170px;
                        font-size: 16px;
                        li {
                            margin-left: 0;
                            padding: 0 0 30px 0;
                            width: 200px;
                            a {
                                padding-left: 20px;
                            }
                           &.sub-menu-trigger {
                                display: block;
                                .sub-menu {
                                    position: relative;
                                    border-top: none;
                                    top: 10px;
                                    width: 200px;
                                    padding: 15px 0px 0px 0px;
                                }
                            }
                        }
                    }
                    .contact-details {
                        display: flex;
                        flex-direction: column;
                        padding-left: 20px;
                        padding-right: 10px;
                        width: 170px;
                        .phone-number {
                            padding-bottom: 10px;
                        }
                    }
                }
                .active {
                    width: 200px;
                }
                .button-menu-open {
                    display: block;
                    z-index: 2;
                }
                .button-menu-close {
                    z-index: 1;
                    width: 45px;  
                }
                .hidden {
                    display: none;
                }
                .visible {
                    display: block;
                }       
            }  

            .header {
                background-position: center;
            }   
            .darkened {
                        filter: brightness(0.4);
                    }
        }
    }